<package-def>
	<class name="ЧитательГеркин" file="src/gherkin-read.os"/>
	<class name="ГенераторШагов" file="src/bdd-generate.os"/>
	<class name="ИсполнительБДД" file="src/bdd-exec.os"/>
	<class name="ГенераторОтчетаJUnit" file="src/junit-report-gen.os"/>
	<class name="ЧитательСтрокФайла" file="src/FileLineReader.os"/>
	<module name="Константы_1bdd" file="src/Модули/Константы_1bdd.os"/>
</package-def>